@font-face {
    font-family: 'helvetica';
    src: url('path/to/your/font.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'helvetica', sans-serif;
}

a {
    text-decoration: none;
}

nav.navbar {
    background-color: black;
    position: sticky;
    padding-left: 80px;
    padding-top:15px;
    top: 0;
    z-index: 100;
    display: flex;
}

.navItem {
    padding-left: 15px;
    padding-right: 15px;
    transition: filter 0.3s ease;
    text-align: center;
}

.navItem img {
    padding: 15px;
    margin: 0 auto; 
    cursor: pointer;
}

.navItem img:hover {
    filter: sepia(100%) saturate(500%);
}

.home-container {
    height: 70vh; /* Viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.centered-content {
    max-width: 100%;
    text-align: center;
  }

.centered-content img {
    max-width: 40%;
    height: auto;
}

.content-container {
    padding: 8em;
    background: url('/img/background.png') repeat center center;
    background-size: cover;
}

.about-section .about-section-logo {
    width: 700px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

.about-picture {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-2deg);
}

.about-text span {
    color: rgb(255, 253, 122);
    cursor: pointer;
}

.skills-section {
    margin-top: 5em;
}

.skills-section .skills-section-logo {
    width: 450px;
}

.tool-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.tool-logos img {
    max-height: 200px;
    max-width: 200px;
}

.experience-section {
    margin-top: 15vh;
}

.experience-section .experience-section-logo {
    width: 750px;
    margin-bottom: 10px;
}

.resume-button {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.experience-section .experience-text{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
    margin-left: 15vh;
    margin-right: 15vh;
}

.experience-section sectionTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    border-right: 1px solid white;
}

.experience-section sectionText {
    padding-left: 30px;
}

.experience-section .school {
    font-weight: bold;
    font-size: 20px;
}

.experience-section .degree {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.experience-section .degree .grad{
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    color: rgb(222, 222, 222);
}

.positionName {
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.positionName .company {
    font-size: 18px;
    color: rgb(226, 226, 226);
    font-style: italic;
}

.positionName .date {
    color: rgb(205, 205, 205);
    font-size: 15px;
    font-style: italic;
    padding-top: 2px;
}

.detailsList {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

.detailsList li {
    padding-left: 20px; /* Space for the list item marker */
    background: url('/img/listIcon.jpg') no-repeat left center; /* Set custom image as background */
    background-size: 14px 14px; /* Set the size of the background image */
    margin-bottom: 8px; /* Add some bottom margin for spacing between items */
}

.contact-section {
    margin-top: 5vh;
}

.contact-section .contact-section-logo {
    width: 500px;
}

.contactLinks {
    display: flex;
}

.contactLinks a {
    margin-top: 40px;
    margin-right: 40px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.contactLinks a:hover {
    filter: sepia(100%) saturate(500%);
}